@font-face{
  font-family: 'Playfair Display', serif;
  src: url('./fonts/PlayfairDisplay-Regular.ttf');
}

* {
  font-family: 'PlayFair Display', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background : linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73))
}